:root {
    --haeder-height: 70px;
    --sidebar-width: 60px;
    --sidebar-bg: rgb(5, 30, 52);
}

/* DEBUG */

/* .debug [class*=col-] {
    border: solid 1px black;
} */

/* CSS */

/* Utility */

.ms_hidden_lg {
    display: none;
}

/* Header */

header {
    height: var(--haeder-height);  
}

.ms_navbar_col {
    width: var(--sidebar-width);

}

.ms_navbar_col_center {
    width: calc(100% - 2* var(--sidebar-width));
}

.form-control::placeholder {
    font-family:Arial, FontAwesome;
    font-size: 0.8rem;
}

header .col-8 input {
    background-color: rgb(229, 229, 229);
}

/* Main */

.ms_maincontainer {
    height: calc(100vh - var(--haeder-height));
}

.ms_contentcontainer {
    width: calc(100% - var(--sidebar-width));
}

.aside {
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--sidebar-bg);
}

.ms_cell_big {
    width: 30%;
    line-height: 2rem;
}

.ms_cell {
    width: calc(70% / 4);
    line-height: 2rem;
}

.ms_table {
    display: none;
}

.ms_btn {
    padding: 1px 3px;
}











/* RESPONSIVE */

/* Size SM */
@media screen and (min-width:576px) {
    
}

/* Size MD */
@media screen and (min-width:768px) {

    .ms_table {
        display: table-cell;
    }
    
}

/* Size LG */
@media screen and (min-width:992px) {

    :root {
        --sidebar-width: 180px;
    }

    .ms_navbar_col {
        width: var(--sidebar-width);
    }
    .ms_hidden_lg {
        display: block;
    }

    #logo-mobile {
        display: none;
    }

    .ms_cell_big {
        width: 40%;
    }
    
    .ms_cell {
        width: 15%;
    }
    
}

/* Size XL */
@media screen and (min-width:1200px) {

    .ms_cell_big {
        width: 50%;
    }
    
    .ms_cell {
        width: calc(50%/4);
    }
    
}

/* Size XXL */
@media screen and (min-width:1400px) {
    
}