:root {
    --haeder-height: 70px;
    --sidebar-width: 50px;
    --sidebar-bg: rgb(5, 30, 52);
}

/* CSS */

/* Utility */

.ms_hidden_lg {
    display: none;
}

.ms_font06 {
    font-size: 0.6rem;
}

.ms_lh-2 {
    line-height: 2rem;
}

/* Header */

header {
    height: var(--haeder-height);  
}

.ms_navbar_col {
    width: var(--sidebar-width);

}

.ms_navbar_col_center {
    width: calc(100% - 2* var(--sidebar-width));
}

.form-control::placeholder {
    font-family:Arial, FontAwesome;
    font-size: 0.8rem;
}

header .col-8 input {
    background-color: rgb(229, 229, 229);
}

/* Main */

.ms_maincontainer {
    height: calc(100vh - var(--haeder-height));
}

.ms_contentcontainer {
    width: calc(100% - var(--sidebar-width));
}

.aside {
    width: var(--sidebar-width);
    height: 100%;
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--sidebar-bg);
}

.ms_cell_big {
    width: 50%;
    line-height: 2rem;
}

.ms_cell {
    width: 25%;
    line-height: 2rem;
    text-align: center;
}

.ms_table {
    display: none;
}

.ms_btn {
    padding: 1px 3px;
    z-index: 9999;
}

.ms_badge-bg {
    background-color: rgb(22, 91, 186);
    cursor: pointer;
}


/* Hover */

.hover:hover {
    background-color: rgb(36, 70, 102);
}

.layover {
    position: relative;
}

.layover-rounded {
    position: relative;
    object-fit: contain;
}

.layover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.0);    
}

.layover-rounded::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.0);    
}

.layover:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.layover-rounded:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}







/* RESPONSIVE */

/* Size SM */
@media screen and (min-width:576px) {
    
}

/* Size MD */
@media screen and (min-width:768px) {

    .ms_table {
        display: table-cell;
    }

    
}

/* Size LG */
@media screen and (min-width:992px) {

    :root {
        --sidebar-width: 140px;
    }

    .ms_navbar_col {
        width: var(--sidebar-width);
    }
    .ms_hidden_lg {
        display: inline-block;
    }

    .ms_visible_lg {
        display: none;
    }

    #logo-mobile {
        display: none;
    }

    .ms_cell_big {
        width: 40%;
    }
    
    .ms_cell {
        width: 15%;
    }

    .offcanvas.offcanvas-end {
        width: 45%;
    }

}

/* Size XL */
@media screen and (min-width:1200px) {

    .ms_cell_big {
        width: 50%;
    }
    
    .ms_cell {
        width: calc(50%/4);
    }
    
}

/* Size XXL */
@media screen and (min-width:1400px) {
    
}